<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top bg-light">
        <p class="col-md-4 text-center">&copy; 2022 Heru Purnama</p>
    </footer>
</body>
</html>
