<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

<body>
  <header class="vh-100 d-flex flex-column ">
  
    <div
      class="h-100 d-flex flex-column justify-content-center align-items-center"
    >
    <h1>Welcome</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="/login" class="btn btn-outline-primary card px-4">
              <div class="card-body text-center">
                <h5 class="card-title">Login</h5>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="/register" class="btn btn-outline-danger card px-4 ">
              <div class="card-body text-center">
                <h5 class="card-title">register</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%- include('./partials/footer.ejs'); %>
</body>

</html>
