<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs'); %>

<link rel="stylesheet" href="style.css">

<body>
  <header class="vh-100 d-flex flex-column ">
    <main>
      <form method="post" action="/login" id="login-form" class="form_class">
          <div class="form_div">
              <label>Login:</label>
              <input class="field_class" name="username" type="email" placeholder="email" autofocus>
              <label>Password:</label>
              <input id="pass" class="field_class" name="password" type="password" placeholder="password">
              <button class="submit_class" type="submit">Login</button>
          </div>
          <div class="info_div">
              <a href="/register">Register Disini</a></p>
          </div>
      </form>
  </main>
  </header>
  
  <%- include('./partials/footer.ejs'); %>
</body>

</html>
