<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs'); %>

  <link rel="stylesheet" href="style.css">
  
  <body>
    <header class="vh-100 d-flex flex-column ">
      <main>
        <form method="post" action="/register" class="form_class">
            <div class="form_div">
                <label>Register:</label>
                <input class="field_class" name="email" type="email" placeholder="email" autofocus>
                <label>Password:</label>
                <input class="field_class" name="password" type="password" placeholder="password">
                <button class="submit_class" type="submit" name="register" value="register">Register</button>
            </div>
            <div class="info_div">
                <a href="/login">Login Disini</a></p>
            </div>
        </form>
    </main>
    </header>
    <%- include('./partials/footer.ejs'); %>
  </body>

</html>
